@model Gotham.domain.Capsule

@{
    ViewData["Title"] = "Publish";
}

<h1>Publication</h1>
<div>
    @if (!Model.Publié)
    {
        <form asp-action="Publish">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Publier" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    }
    else
    {
        <form asp-action="Withdraw">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Dépublier" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    }
</div>